.FirebaseUI {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
  }
  
  img {
    width: 300px;
    margin: 10px;
  }